In [3]:
import pandas as pd

In [4]:
df2 = pd.read_csv('./data/constituents-financials.csv')

In [9]:
df2.head()
df2.info()
df2.size
df2.shape
df2.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          503 non-null    object
 1   Name            503 non-null    object
 2   Sector          503 non-null    object
 3   Price           500 non-null    float64
 4   Price/Earnings  475 non-null    float64
 5   Dividend Yield  404 non-null    float64
 6   Earnings/Share  499 non-null    float64
 7   52 Week Low     500 non-null    float64
 8   52 Week High    500 non-null    float64
 9   Market Cap      500 non-null    float64
 10  EBITDA          470 non-null    float64
 11  Price/Sales     499 non-null    float64
 12  Price/Book      468 non-null    float64
 13  SEC Filings     503 non-null    object
dtypes: float64(10), object(4)
memory usage: 55.1+ KB

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
count,500.000000,475.000000,404.000000,499.000000,500.000000,500.000000,5.000000e+02,4.700000e+02,499.000000,468.000000
mean,220.595210,39.697870,0.022930,8.247255,169.352248,255.222310,1.118863e+11,6.766010e+09,4.686632,8.747815
std,476.108873,77.846796,0.015408,25.273607,390.282964,564.872061,3.386191e+11,1.489911e+10,5.356813,21.287344
min,9.720000,3.115057,0.000200,-21.210000,6.640000,11.480000,5.102043e+09,-3.991000e+09,0.060163,0.436422
25%,68.605000,16.863880,0.011100,2.400000,52.170000,82.675000,1.961290e+10,1.633389e+09,1.599254,1.992150
50%,122.200000,25.607143,0.019950,5.240000,96.035000,146.585000,3.591050e+10,2.965374e+09,3.291713,3.580510
75%,233.727500,37.445392,0.032700,8.920000,182.837500,261.010000,8.101103e+10,6.017250e+09,5.983054,7.712931
max,8016.180000,1079.999900,0.108500,506.340000,7129.100000,9964.770000,3.572851e+12,1.365520e+11,71.009026,327.175230

In [32]:
# Data Cleaning of Prices column
df2['Price'].isnull().sum()
df2.loc[df2['Price'].isnull(), :]
df3 = df2.dropna(axis=0,subset=['Price'],inplace=False,ignore_index=True)

In [33]:
# data cleaning of Price/Earnings
df3['Price/Earnings'].isnull().sum()
df4 = df3.loc[df3['Price/Earnings'].isnull(), :]
df4['Price/Earnings'] = df4['Price'] /df4['Earnings/Share']
df4.head(15)
df5=df3.combine_first(df4) # It will fill the NaN values in df3 with the corresponding values from df4
df5['Price/Earnings'].isnull().sum()

/var/folders/pm/9swc_rkd3gxfjt_55hy7qswr0000gp/T/ipykernel_815/1755996433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Price/Earnings'] = df4['Price'] /df4['Earnings/Share']

np.int64(0)

In [43]:
# Data Cleaning for Dividend Yield
df5['Dividend Yield'].isnull().sum()
df5.loc[df5['Dividend Yield'].isnull(), :]
df6 = df5.fillna(value={'Dividend Yield':0},inplace=False)
df6['Dividend Yield'].isnull().sum()

np.int64(0)

In [48]:
# Data Cleaning for Earnings/Share
df6['Earnings/Share'].isnull().sum()
df6.loc[df6['Earnings/Share'].isnull(), :]
df7 = df6.dropna(axis=0,subset=['Earnings/Share'],inplace=False,ignore_index=True)
df7['Earnings/Share'].isnull().sum()

np.int64(0)

In [57]:
df7['Market Cap'].isnull().sum()
df7['52 Week Low'].isnull().sum()
df7['52 Week High'].isnull().sum()
df7['EBITDA'].isnull().sum()
# Data cleaning for EBITDA  
df7.loc[df7['EBITDA'].isnull(), :]
df8 = df7.dropna(axis=0,subset=['EBITDA'],inplace=False,ignore_index=True)
df8.shape

(470, 14)

In [ ]:
df8['Price/Sales'].isnull().sum()
# Data cleaning for Price/Book
df8['Price/Book'].isnull().sum()
df8.loc[df8['Price/Book'].isnull(), :]
df9 = df8.fillna(value={'Price/Book':0},inplace=False)

In [78]:
# Save the cleaned DataFrame to a new CSV file
df9.to_csv('./data/constituents-financials-cleaned.csv', index=False)