In [1]:
import pandas as pd

In [10]:
df1 = pd.read_csv('./data/constituents.csv')
df1.head()
df1.info()
df1.size
df1.shape
df1.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  503 non-null    object
 1   Name    503 non-null    object
 2   Sector  503 non-null    object
dtypes: object(3)
memory usage: 11.9+ KB

Symbol    object
Name      object
Sector    object
dtype: object

In [15]:
df1.head(10)

  Symbol                    Name                                      Sector
0      A    Agilent Technologies              Life Sciences Tools & Services
1   AAPL              Apple Inc.  Technology Hardware, Storage & Peripherals
2   ABBV                  AbbVie                               Biotechnology
3   ABNB                  Airbnb              Hotels, Resorts & Cruise Lines
4    ABT     Abbott Laboratories                       Health Care Equipment
5   ACGL      Arch Capital Group               Property & Casualty Insurance
6    ACN               Accenture              IT Consulting & Other Services
7   ADBE              Adobe Inc.                        Application Software
8    ADI          Analog Devices                              Semiconductors
9    ADM  Archer Daniels Midland            Agricultural Products & Services

In [ ]:
df1.isna().sum()
df1.isnull().sum()
df1.notna().sum()

df1.where(df1['Sector'] == 'Semiconductors').count()

Symbol    15
Name      15
Sector    15
dtype: int64

In [19]:
df1.loc[df1['Sector'] == 'Semiconductors', ['Name', 'Sector']]

                         Name          Sector
8              Analog Devices  Semiconductors
26     Advanced Micro Devices  Semiconductors
44                   Broadcom  Semiconductors
195               First Solar  Semiconductors
243                     Intel  Semiconductors
300      Microchip Technology  Semiconductors
319  Monolithic Power Systems  Semiconductors
330         Micron Technology  Semiconductors
346                    Nvidia  Semiconductors
350        NXP Semiconductors  Semiconductors
355          ON Semiconductor  Semiconductors
391                  Qualcomm  Semiconductors
392                     Qorvo  Semiconductors
428        Skyworks Solutions  Semiconductors
455         Texas Instruments  Semiconductors